.boxCategorey {
  display: block;
  position: relative;
  width: 100%;
  height: 280px;
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 3px;
  transition: all 150ms;
  border: 2px solid #ffc107;
}
.boxCategorey:hover {
  transform: translateY(-1%);
}
.boxCategorey img {
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 3px;
  width: 100%;
}
.subCategory {
  width: 50%;
  position: absolute;
  top: 190px;
  left: 0px;
  background: #ffc107;
  padding: 5px 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

